<section>
  <div class="row">

    <div class="col-ls-4 col-md-12 mb-4">
    <div class="card">

      <div class="card-body">

        <p class="text-uppercase medium mb-2"><strong>Total Confirm</strong></p>
        <h1 style="font-weight: 400;" class="text-primary font-weight mb-0">
          {{totalconfirmcase}}
          <!-- <small class="text-success ml-2">
            <i class="fas fa-arrow-up fa-sm pr-1"></i>13,48%</small> -->
        </h1>

      </div>


    </div>
  </div>
  <div class="col-lg-4 col-md-12 mb-4">

    <!-- Card -->

    <div class="card">

      <div class="card-body">

        <p class="text-uppercase medium mb-2"><strong>Total Active</strong></p>
        <h1 style="font-weight: 400;" class="text-secondary font-weight mb-0">
          {{totalactivecase}}
          <!-- <small class="text-success ml-2">
            <i class="fas fa-arrow-up fa-sm pr-1"></i>13,48%</small> -->
        </h1>

      </div>


    </div>

    <!-- Card -->

  </div>
  <div class="col-lg-4 col-md-6 mb-4">

    <!-- Card -->
    <div class="card">

      <div class="card-body">

        <p class="text-uppercase medium mb-2"><strong>Total Recovered</strong></p>
        <h1 style="font-weight: 400;" class="text-success font-weight mb-0">
          {{totalrecoveredcase}}
          <!-- <small class="text-success ml-2">
            <i class="fas fa-arrow-up fa-sm pr-1"></i>23,58%</small> -->
        </h1>

      </div>

    </div>
    <!-- Card -->

  </div>
  <div class="col-lg-4 col-md-6 mb-4">

    <!-- Card -->
    <div class="card">

      <div class="card-body">

        <p class="text-uppercase medium mb-2"><strong>Total Death</strong></p>
        <h1 style="font-weight: 400;" class="text-danger font-weight mb-0">
          {{totaldeathcase}}
          <!-- <small class="text-danger ml-2">
            <i class="fas fa-arrow-down fa-sm pr-1"></i>23,58%</small> -->
        </h1>

      </div>

    </div>
    <!-- Card -->

  </div>


</div>
</section>
